@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&family=Jacques+Francois+Shadow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav {
  background: #222;
  padding: 16px;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 18px;
  text-decoration: none;
  font-size: 1.1rem;
  opacity: 0.85;
  transition: color 0.2s;
}
nav a:hover {
  color: #14807a;
}
main {
  max-width: 700px;
  margin: 40px auto;
  padding: 32px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px #2222;
}
h1 {
  font-size: 2.2rem;
  color: #14807a;
  margin-bottom: 18px;
}
p {
  font-size: 1.1rem;
  color: #333;
}
